{% extends "_base_.html" %}
{% block title %}{% endblock %}
{% block content %}
    <tbody class="text-color-lighter">
    <table class="schedules-content"><td><h1>O Nas!</h1><h5>Witamy na Naszym portalu rankingowym!</h5>
        Jesteśmy pasjonatami wysokiej jakości alkoholi i chcemy podzielić się z Tobą naszą wiedzą i doświadczeniem. Nasz
        ranking powstał z miłości do doskonałego smaku i różnorodności, które oferuje świat alkoholi.
    W naszej bogatej kolekcji znajdziesz szeroki wybór win, piw, wódek.
    Staramy się zapewnić naszym gościom najlepsze produkty, które spełniają najwyższe standardy jakości.
    Współpracujemy z renomowanymi producentami i dostawcami, aby zapewnić Ci tylko najwyższej jakości alkohole.

    Twoje miejsce dla wyjątkowych smaków i niezapomnianych chwil!
</td>
    </table>
    </tbody>{% endblock %}